astropy>=6
bokeh>=3.1
dataclasses-json>=0.6
ipyevents
ipykernel>=6
jupyterlab>=4
jupyterlab_widgets
nbclassic
notebook
numpy>=1.20
pillow>=10
pycairo>=1.20
pywwt>=0.25
pytz>=2024
requests>=2
scipy>=1.10
shapely
toasty>=0.20
tqdm>=4.60
wwt_api_client
wwt_data_formats
wwt_jupyterlab_extension
wwt_kernel_data_relay
